:root {
    /* --primary-color: 206, 241, 234; */
    --primary-color: 23, 41, 18;
    /* --secondary-color: 133, 91, 2; */
    /* nice bright green I like --secondary-color: 70, 223, 57; */
    --secondary-color: 0, 238, 255;
    /* --tertiary-color: 3, 97, 77; */
    --tertiary-color: 202, 221, 238;
    /* --fourth-color: 255, 217, 0; */
    --fourth-color: 254, 255, 182;
}

/* color tests below to get hex codes */
body {
    /* first */
    color: rgb(206, 241, 234);
    /* second */
    color: rgb(133, 91, 2);
    /* third */
    color: rgb(3, 97, 77);
    /* fourth */
    color: rgb(255, 217, 0);
    /* new primary color below */
    color: rgb(23, 41, 18);
    /* new secondary color below */
    color: rgb(0, 238, 255);
    /* new tertiary color below */
    color: rgb(202, 221, 238);
    /* new fourth color below */
    color: rgb(254, 255, 182);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    background-color: rgba(var(--secondary-color), 0.4);
    color: rgb(var(--primary-color));
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
    max-width: 64rem;
    text-wrap: balance;
    /* background-color: rgb(var(--primary-color), 0.2); */
}

h1 {
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(var(--tertiary-color));
}

h2 {
    margin-top: 2rem;
}

header {
    text-align: center;
    background-color: rgb(var(--fourth-color));
    overflow: hidden;
}

header span {
    text-decoration: line-through;
}

header h2 {
    align-self: flex-start;
    color: rgb(var(--secondary-color));
    text-shadow: 0.05rem 0.05rem 0.125rem rgb(var(--primary-color));
}

header img {
    width: 8.75rem;
    mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

header nav {
    margin-top: 1rem;
    padding: 2rem 1rem;
}

main {
    background-color: rgba(var(--primary-color), 0.2);
    padding: 0 1rem;
}

main h2 {
    margin-top: 0;
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(var(--secondary-color));
}

a.material-symbols-outlined {
    background-color: rgb(var(--secondary-color));
    padding: 0.125rem 0;
    display: block;
    transition: all 0.3s ease;
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(var(--tertiary-color));
    margin: 0.5rem 0;
}

a.material-symbols-outlined:hover {
    text-shadow: 0.05rem 0.05rem 0.1rem rgb(var(--primary-color));
    background-color: rgba(var(--fourth-color), 0.2);
    color: rgb(var(--tertiary-color));
}

.project {
    background-color: rgba(var(--fourth-color), 0.8);
    margin: 1rem 0;
    padding: 1rem;
    /* box-shadow: 0.125rem 0.125rem 0.25rem rgb(var(--primary-color)); */
    border-radius: 0.25rem;
}

.project h3 {
    /* background-color: rgb(var(--fourth-color)); */
    /* border: 0.125rem solid rgb(var(--tertiary-color)); */
    /* color: rgb(var(--primary-color)); */
    text-decoration: underline;
    padding: 0.5rem 0.25rem;
}

.project p {
    margin: 1rem 0;
    padding: 0.25rem;
    /* background-color: rgba(var(--primary-color), 0.9); */
    width: fit-content;
    border-radius: 0.125rem;
    max-width: 56rem;
}

.project a {
    color: rgb(var(--primary-color));
    background-color: rgba(var(--secondary-color), 0.5);
    transition: all 0.3s ease;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.125rem solid rgb(var(--tertiary-color));
    border-radius: 0.25rem;
    width: fit-content;
    display: block;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(var(--primary-color), 0.5);
}

.project a:hover {
    color: rgb(var(--primary-color));
    background-color: rgb(var(--secondary-color));
    border-color: rgb(var(--fourth-color));
    box-shadow: 0.125rem 0.125rem 0.125rem rgb(var(--primary-color));
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.project img {
    width: clamp(10rem, 40vw, 13rem);
    height: auto;
    border: 0.125rem solid rgb(var(--tertiary-color));
    border-radius: 0.25rem;
    align-self: flex-start;
    margin: 0.25rem;
    flex-grow: 1;
}

.project img.icon {
    width: 3rem;
    height: auto;
    padding: 0.25rem;
}

/* tablet and above styles */
@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    header nav {
        margin: 0;
        padding: 0;
        text-align: right;
    }

    a.material-symbols-outlined {
        margin: 0;
    }
}

/* desktop and above styles */
@media screen and (min-width: 66rem) {
    body {
        margin: 1rem auto;
    }
}
